h1{
    color:cornsilk
}
*{
    border:solid
}
.header{
    background-color: blueviolet;
    display:flex;
    justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
}
.footer{
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
}
p,h2{
    color: rgb(63, 11, 184);
    text-align: center;
}
